<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	Greatness by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://FreeHTML5.co
-->
<html>
<head th:include="fragments/head :: headerFragment">
    <title id="pageTitle">Beach Details - BeachGaze</title>
    <!-- other elements you want to reference in your layout -->
</head>
<body>

<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div th:include="fragments/navbar"></div>
    </nav>
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
            th:style="'background:url(' + @{/images/homeImages/img_bg_1.jpg} + ');'">">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1 >Beach Details</h1>
                            <a class="ct-btn-scroll ct-js-btn-scroll" href="#section2" style="top: 0px; top: 0px; margin-top: 0px">
                                <img alt="Arrow Down Icon" src="https://www.solodev.com/assets/anchor/arrow-down.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- todo: contents -->
    <div class="gtco-section" id="section2">
        <div class="container">
            <h1 th:text="${beach.name}">...</h1>
            <p th:utext="${beach.longDescription}">...</p>
            <b>Rating: </b> <b th:text="${beach.rating}"></b>
        </div>
    </div>
    <div class="gtco-section" id="section3" style="padding-top: 0px">
        <div class="container">
            <h1>Water Quality</h1>
        </div>
    </div>
    <div class="gtco-section" id="section4" style="padding-top: 0px">
        <div class="container">
            <h1>Weather</h1>
        </div>
    </div>
</div>


<div class="gototop js-top">
    <a href="#" class="js-gotop">
        <span class="icon">
            <i class="icon-arrow-up" style="color: white"></i>
        </span>
    </a>
</div>

</body>
</html>