<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	Greatness by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://FreeHTML5.co
-->
<html>
<head th:include="fragments/head :: headerFragment">
    <title id="pageTitle">Beach Dangers - BeachGaze</title>
    <!-- other elements you want to reference in your layout -->
</head>
<body>

<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div th:include="fragments/navbar"></div>
    </nav>
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
            style="background-image:url(images/homeImages/img_bg_1.jpg);">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Beach List</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- todo: contents -->
    <div class="gtco-section">
        <div class="container">
        <h1>Beach List</h1>
            <!--
        <table id="beaches" class="display">

            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Rating</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Rating</th>
            </tr>
            </tfoot>
        </table>
        -->
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#list">List View</a></li>
                <li><a data-toggle="tab" href="#map">Map View</a></li>
            </ul>
            <div class="tab-content">
                <div id="list" class="tab-pane fade in active">
                    <br />
                    <dl id="beachList">
                    </dl>
                </div>
                <div id="map" class="tab-pane fade">
                    <div id="map_wrapper">
                        <div id="map_canvas" class="mapping"></div>
                    </div>
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9vGwFSuPk-v9UKnlrNFIuTarIdUly0Ng&callback=initMap">
                    </script>
                </div>
            </div>

    </div>
    </div>
</div>


<div class="gototop js-top">
    <a href="#" class="js-gotop">
        <span class="icon">
            <i class="icon-arrow-up" style="color: white"></i>
        </span>
    </a>
</div>
<script src="/js/datatable.js"></script>
<script src="/js/beachesmap.js"></script>
<script src="/js/datacom.js"></script>
</body>
</html>