<div class="gtco-container">
    <p>There are a wide range of dangers you and your children might meet around beaches. Please read through the
        following paragraphs so that you can understand what you might meet and how to deal with them if
        encountered.</p>
    <h2>Rip Currents</h2>
    <div class="row">
        <div class="col-md-6">
            <p>Rip currents are powerful, channeled currents of water that can pull a swimmer out to sea. They are
                difficult to spot but some signs include smooth water located between breaking waves, anything floating
                out to sea or sandy, foamy water floating out beyond the waves. The best way to avoid a rip is to swim
                at a patrolled beach between the red and yellow flags.</p>
            <p>If caught by a rip current, do not attempt to fight it. Instead, try to swim parallel to the shore and
                then on an angle when the effects of the rips lessen.</p>
            <br/>
            <h2>Shore-break</h2>
            <p>A shore-break is when waves break directly on the shore. These are </p>
        </div>
        <div class="col-md-6">
            <img src="images/dangers/rip.jpg" width="500px" height="375px" class="pull-right"/>
        </div>
    </div>
    <p>considerably dangerous as they can pull unsuspecting swimmers off their feet and into deeper water or into the
        sand on the ocean floor. Even small shore-breaks can be quite dangerous. If thrown by one, keep your hands in
        front of you at all times to protect your head and neck.</p>
    <p>Remember to always swim between the flags and ask a lifeguard if unsure of the wave conditions.</p>
    <h2>Sharks</h2>
    <div class="row">
        <div class="col-md-6">
            <p>There are various types of sharks around Australia, however, most are harmless to humans. Still, it is
                best to maintain interaction with sharks to a minimum as shark attacks can prove to be fatal.</p>
            <p>Avoiding sharks:</p>
            <ul>
                <li>Avoid swimming at dawn and dusk.</li>
                <li>Avoid swimming at river mouths or in murky water.</li>
                <li>Avoid swimming in or around schools of baitfish.</li>
            </ul>
            <p>Encountering a shark:</p>
            <ul>
                <li>Do not take your eyes off the shark.</li>
                <li>Do not make any sudden movements.</li>
                <li>Try to get into a defensive position.</li>
                <li>If the shark attacks, attempt to hit the shark in the face and gills.</li>
            </ul>
            <br/>
        </div>
        <div class="col-md-6">
            <img src="images/dangers/shark.jpg" width="533px" height="400px" class="pull-right"/>
        </div>
    </div>
    <h2>Jellyfish</h2>
    <div class="row">
        <div class="col-md-6">
            <p>Australia is home to various species of jellyfish. Luckily for Victorian beachgoers, the majority of more
                dangerous jellyfish prefer the warmer waters of northern Australia. However, there are still some
                jellyfish that are common in Melbourne beach waters. The bluebottle jellyfish is perhaps the most well
                known and most common jellyfish found in Melbourne waters. This jellyfish is poisonous but not typically
                deadly. Another common type is the lion’s mane jellyfish which is also poisonous but not deadly.</p>
            <p>What to do if stung by non-tropical jellyfish:</p>
            <ul>
                <li>Wash off any remaining tentacles with seawater or pick them off with fingers (gloves are
                    recommended).
                </li>
                <li>Immerse the affected area in hot water (no hotter than can be tolerated) for at least 20 minutes.
                </li>
                <li>If unable to access hot water, apply an ice pack or cold water to the affected area.</li>
                <li>Seek further medical attention if condition worsens.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="images/dangers/jellyfish.jpg" width="375px" height="500px" class="pull-right"/>
        </div>
    </div>
    <p>Although unlikely to be encountered, a sting by a box jellyfish or other tropical jellyfish are
        significantly more dangerous and can result in death.</p>
    <p>What to do if stung by a tropical jellyfish:</p>
    <ul>
        <li>Call Triple Zero (000) for an ambulance.</li>
        <li>Pour vinegar liberally over the infected area for at least 30 seconds.</li>
        <li>If vinegar unavailable, use seawater. Do not use fresh water.</li>
        <li>Provide emergency care such as CPR if required.</li>
        <li>Seek medical aid.</li>
    </ul>
    <p><b>Note</b>: another poisonous creature is the blue ringed octopus. If bitten, immediately call Triple Zero (000)
        and proceed with CPR if necessary. Also apply compression or bandaging to the affected area.</p>
    <br/>
    <h2>Sunburn</h2>
    <p>Sunburn is a significant danger when going to the beach. Prior to going to the beach, check the forecasted
        weather and UV Index. Also remember to always apply adequate sunscreen to all exposed areas.</p>
    <p>Treatment for sunburn:</p>
    <ul>
        <li>Gently apply a cool compress or bathe the area in cool water.</li>
        <li>Apply moisturizer if not too painful (not a butter-based moisturizer).</li>
        <li>Avoid using soap.</li>
        <li>Don’t pop the blisters.</li>
        <li>Consider asking a pharmacist for products to soothe sunburn. Try to avoid products that require rubbing.
        </li>
    </ul>
    <br/>
    <h2>Water Quality</h2>
    <p>Water quality can be affected by a large variety of factors including bacteria, untreated sewage, pollution and
        stormwater. Swimming in poor quality water can cause illnesses.</p>
    <p>The water quality is assessed weekly by the local council and steps will be taken to close a beach if the water
        quality is deemed too poor. However, beach goers are advised to should still check the water quality before
        going to the beach, especially if planning to go after a day of heavy rainfall.</p>
    <br/>
    <h2>Harmful Algal Blooms</h2>
    <p>Harmful algal blooms are dense populations or blooms of algae that form in coastal waters. They can be toxic if
        swimming in contaminated water or eating infected marine life.</p>
    <p>Though they are a danger, often a beach will be closed if there is a risk of harmful algal blooms affecting
        swimmers.</p>
</div>