<footer id="added-footer" role="contentinfo" style="height: 300px;">
    <div class="gtco-container">
        <div class="row copyright">
            <div class="col-md-12">
                <p class="pull-left">
                    <img src="images/homeImages/guardians_logo.png" width="97px" height="23px"/>

                    <small class="block">&copy; Guardians. All Rights Reserved.</small>
                    <small class="block">Template designed by <a href="http://FreeHTML5.co/" target="_blank">
                        FreeHTML5.co
                    </a>, modified by <a href="/about">Guardians</a>
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>