<footer id="gtco-footer" role="contentinfo">
    <div class="gtco-container">
        <div class="row row-pb-md">
            <div class="col-md-2 col-sm-4 col-xs-6 ">
                <ul class="gtco-footer-links">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <ul class="gtco-footer-links">
                    <li><a href="/statistics">Learn Statistics</a></li>
                </ul>
                <ul class="gtco-footer-links">
                    <li><a href="/tips">Beach Dangers</a></li>
                </ul>
            </div>

        </div>

        <div class="row copyright">
            <div class="col-md-12">
                <p class="pull-left">
                    <img src="images/homeImages/guardians_logo.png" width="150px" height="50px"/>

                    <small class="block">&copy; Guardians. All Rights Reserved.</small>
                    <small class="block">Template designed by <a href="http://FreeHTML5.co/" target="_blank">
                        FreeHTML5.co
                    </a>, edited by <a href="/about">Guardians</a>
                    </small>
                </p>
            </div>
        </div>

    </div>
</footer>