<div class="gtco-container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-xs-5">
            <div class="row">
                <div id="gtco-logo">
                    <a href="/">BeachGaze</a>
                </div>
            </div>
        </div>
        <div class="col-xs-7 text-right menu-1">
            <ul>
                <li th:class="${page=='index'}? 'active'"><a href="/">Home</a></li>
                <li th:class="${page=='beaches'}? 'active'">
                    <a href="/beaches">Find a Beach</a>
                </li>
                <li th:class="${page=='tips'}? 'active'"><a href="/tips">Safety Tips</a></li>
                <li th:class="${page=='about'}? 'active'"><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</div>