<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
      integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

<div class="gtco-container" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>Read More</h1>
    <div class="readMoreBox">
        <div id="tips" class="col-md-4 col-sm-4" style="padding-bottom: 5%">
            <a href="/tips" th:style="${page=='tips'}? 'display:none'">
                <div class="card">
                    <div class="font-icon" style="text-align: center">
                        <i class="fab fa-leanpub" style="font-size: 9em;color: #3e93cf"></i>
                    </div>
                    <div style="padding: 2px 16px; background-color: #3e93cf; text-align: center">
                        <b style="color: white">Safety Tips</b>
                        <p style="color: white">Click to learn how to protect your children against beach dangers.</p>
                    </div>
                </div>
            </a>
        </div>
        <div id="fai" class="col-md-4 col-sm-4" style="padding-bottom: 5%">
            <a href="/first_aid_instructions" th:style="${page=='First-aid Instructions'}? 'display:none'">
                <div class="card">
                    <div class="font-icon" style="text-align: center">
                        <i class="fas fa-first-aid" style="font-size: 9em;color: #3e93cf"></i>
                    </div>
                    <div style="padding: 2px 16px; background-color: #3e93cf; text-align: center">
                        <b style="color: white">First-aid Instruction</b>
                        <p style="color: white">Click to learn how to perform first-aid for your children.</p>
                    </div>
                </div>
            </a>
        </div>
        <div id="acc" class="col-md-4 col-sm-4" style="padding-bottom: 5%">
            <a href="/accidents" th:style="${page=='accidents'}? 'display:none'">
                <div class="card">
                    <div class="font-icon" style="text-align: center">
                        <i class="fas fa-graduation-cap" style="font-size: 9em;color: #3e93cf"></i>
                    </div>
                    <div style="padding: 2px 16px; background-color: #3e93cf; text-align: center">
                        <b style="color: white">Learn From Accidents</b>
                        <p style="color: white">Click to see what could be learned from historic accidents.</p>
                    </div>
                </div>
            </a>
        </div>
        <div id="uvi" class="col-md-4 col-sm-4" style="padding-bottom: 5%">
            <a href="/uv_instructions" th:style="${page=='UV Instructions'}? 'display:none'">
                <div class="card">
                    <div class="font-icon" style="text-align: center">
                        <i class="fas fa-sun" style="font-size: 9em;color: #3e93cf"></i>
                    </div>
                    <div style="padding: 2px 16px; background-color: #3e93cf; text-align: center">
                        <b style="color: white">UV Instructions</b>
                        <p style="color: white">Click to learn how to protect your children against UV rays.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>