<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	Greatness by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://FreeHTML5.co
-->
<html>
<head th:include="fragments/head :: headerFragment">
    <title id="pageTitle">Home - BeachGaze</title>
    <!-- other elements you want to reference in your layout -->
</head>
<body>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
      integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div th:include="fragments/navbar"></div>
    </nav>
    <header id="gtco-header" class="gtco-cover" role="banner"
            style="background-image: url(images/homeImages/wave.jpg);height: 100vh">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn" style="padding-top: 30vh;">
                            <h1>Did you know</h1>
                            <h2>How to protect your children from beach dangers?</h2>
                            <p>
                                <a href="/beaches" class="btn btn-primary btn-lg">Search for a Safe Beach</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: absolute; bottom: 0; left: 50%; z-index: 99">
            <div style="position: relative; left: -50%;">
                <a href="#gtco-counter" id="scroll-down">
                    <img alt="Arrow Down Icon" src="images/homeImages/arrow-down.png">
                </a>
            </div>
        </div>

    </header>

    <div id="gtco-counter" class="gtco-bg gtco-cover gtco-counter"
         style="background-image:url(images/homeImages/img1.jpg);">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="fas fa-flag"></i>
								</span>

                                <span class="counter js-counter" data-from="0" data-to="7" data-speed="2000"
                                      data-refresh-interval="50">1</span>
                                <span class="counter-label">Out of 16 beaches around Melbourne are patrolled</span>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-emoji-sad"></i>
								</span>

                                <span class="counter js-counter" data-from="0" data-to="685" data-speed="1000"
                                      data-refresh-interval="300">1</span>
                                <span class="counter-label">Estimated non-fatal drowning incidents resulting
                                in hospitalisation last year</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-water"></i>
								</span>
                                <span class="counter js-counter" data-from="0" data-to="9" data-speed="1000"
                                      data-refresh-interval="50">1</span>
                                <span class="counter-label">Drowning deaths at beaches in Victoria last year</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="fas fa-trash-alt"></i>
								</span>

                                <span class="counter js-counter" data-from="0" data-to="7700" data-speed="1000"
                                      data-refresh-interval="100">1</span>
                                <span class="counter-label">Bacteria contained in per 100mL sea water in the worst
                                case this year (Approx. 20 times as much as recommended)</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="gtco-features">
    <div class="gtco-container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Get various information from our website!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fas fa-medkit"></i>
						</span>
                    <h3>Tips for Beach Dangers</h3>
                    <p>Learn what kind of dangers you and your children might meet around beaches and how to deal with
                        them.</p>
                    <p><a href="/tips" class="btn btn-primary btn-outline">Get Tips</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fas fa-info"></i>
						</span>
                    <h3>Beach information</h3>
                    <p>Get a list of beaches around Melbourne and learn more about their updated information such as
                        water quality.</p>
                    <p><a href="/beaches" class="btn btn-primary btn-outline">Find a Beach</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fas fa-chart-line"></i>
						</span>
                    <h3>Statistics</h3>
                    <p>Learn statistics about common dangers to understand the importance of being safe.</p>
                    <p><a href="/statistics" class="btn btn-primary btn-outline">See Statistics</a></p>
                </div>
            </div>
        </div>
        <!--Line 2-->
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fas fa-graduation-cap"></i>
						</span>
                    <h3>Historic Accidents</h3>
                    <p>Learn from historic accidents to understand that accidents are avoidable.</p>
                    <p><a href="/accidents" class="btn btn-primary btn-outline">Learn More</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fas fa-sun"></i>
						</span>
                    <h3>UV Instructions</h3>
                    <p>Learn how to protect yourself and your children against UV rays.</p>
                    <p><a href="/uv_instructions" class="btn btn-primary btn-outline">Get Instructions</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fas fa-question"></i>
						</span>
                    <h3>Safety Quizzes</h3>
                    <p>Feeling confident? Time to test your knowledge on beach safety.</p>
                    <p><a href="/quizzes" class="btn btn-primary btn-outline">Take Quizzes</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">...</div>
</div>
<div th:include="fragments/jsFooter"></div>
<div class="gototop js-top">
    <a href="#" class="js-gotop">
        <span class="icon">
            <i class="icon-arrow-up" style="color: white"></i>
        </span>
    </a>
</div>
</body>
</html>

