<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	Greatness by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://FreeHTML5.co
-->
<html>
<head th:include="fragments/head :: headerFragment">
    <title id="pageTitle">About - BeachGaze</title>
    <!-- other elements you want to reference in your layout -->
</head>
<body>

<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div th:include="fragments/navbar"></div>
    </nav>

    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
            style="background-image:url(images/homeImages/img_bg_1.jpg);">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>About Us</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>About Guardians</h2>
                    <p>The team members of Guardians are all from Monash University and the website is their
                        final project during their postgraduate. After reading some reports, they decided to
                        aim on helping parents with children under 15 and want to go beaches with their children. They
                        want to let parents know the dos and don'ts while playing around beaches and help them to find a
                        safest beach for their children.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="gtco-cover-about gtco-cover-sm" style="background-image:url(images/homeImages/img_bg_3.jpg)">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1 style="font-size: 50px">Take good care</h1><br/>
                            <h1 style="font-size: 50px">of your beach journey</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gtco-team" class="gtco-section">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>Members</h2>
                </div>
            </div>
            <div class="row row-pb-md">
                <div class="col-md-6 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/homeImages/rohan.jpg" alt="Rohan">
                        <h3>Rohandas Velekat Ramadas</h3>
                        <strong class="role">Network Security Expert</strong>
                        <p>Rohan is the network security expert in the team. He is good at network design,
                            cloud design, security and cloud networks.</p>
                    </div>
                </div>
                <div class="col-md-6 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/homeImages/terence.jpg" alt="Terence">
                        <h3>Terence Lo</h3>
                        <strong class="role">Data Analyst</strong>
                        <p>Terence is mainly responsible for data analysis in te team. His skillset includes
                            data virtualisation and data mining.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/homeImages/zehao.jpg" alt="Zehao">
                        <h3>Zehao Li</h3>
                        <strong class="role">Business Analyst & UX designer</strong>
                        <p>Zehao is responsible for business analysis and project management. He is good at
                            user interface design.</p>
                    </div>
                </div>
                <div class="col-md-6 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img src="images/homeImages/yue.jpg" alt="Yue">
                        <h3>Yue Zuo</h3>
                        <strong class="role">Developer & UX designer</strong>
                        <p>Yue is responsible for front-end and back-end development in
                            the team. Her skillset includes coding and user interface design.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
        <div id="gtco-subscribe">
            <div class="gtco-container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2>Subscribe</h2>
                        <p>Be the first to know about the news.</p>
                    </div>
                </div>
                <div class="row animate-box">
                    <div class="col-md-12">
                        <form class="form-inline">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label for="email" class="sr-only">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Your email">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label for="name" class="sr-only">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Your name">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <button type="submit" class="btn btn-default btn-block">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    -->
    <div th:replace="fragments/footer :: footer">...</div>
</div>
<div th:include="fragments/jsFooter"></div>
<div class="gototop js-top">
    <a href="#" class="js-gotop">
        <span class="icon">
            <i class="icon-arrow-up" style="color: white"></i>
        </span>
    </a>
</div>

</body>
</html>

