<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	Greatness by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://FreeHTML5.co
-->
<html>
<head th:include="fragments/head :: headerFragment">
    <title id="pageTitle">Home - BeachGaze</title>
    <!-- other elements you want to reference in your layout -->
</head>
<body>

<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div th:include="fragments/navbar"></div>
    </nav>
    <header id="gtco-header" class="gtco-cover" role="banner"
            style="background-image:url(images/homeImages/img_bg_1.jpg);">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Did you know</h1>
                            <h2>How dangerous beaches can be to children?</h2>
                            <p>
                                <a href="#gtco-counter" class="btn btn-primary btn-lg">Learn more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="gtco-counter" class="gtco-bg gtco-cover gtco-counter"
         style="background-image:url(images/homeImages/img1.jpg);">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-eye"></i>
								</span>

                                <span class="counter js-counter" data-from="0" data-to="7" data-speed="2000"
                                      data-refresh-interval="50">1</span>
                                <span class="counter-label">Out of 16 beaches around Melbourne are patrolled</span>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-emoji-sad"></i>
								</span>

                                <span class="counter js-counter" data-from="0" data-to="685" data-speed="1000"
                                      data-refresh-interval="300">1</span>
                                <span class="counter-label">Estimated non-fatal drowning incidents resulting
                                in hospitalisation last year</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-water"></i>
								</span>
                                <span class="counter js-counter" data-from="0" data-to="9" data-speed="1000"
                                      data-refresh-interval="50">1</span>
                                <span class="counter-label">Drowning deaths at beaches in Victoria last year</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-trash"></i>
								</span>

                                <span class="counter js-counter" data-from="0" data-to="7700" data-speed="1000"
                                      data-refresh-interval="100">1</span>
                                <span class="counter-label">Bacteria contained in per 100mL sea water in the worst
                                case this year</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="gtco-features">
    <div class="gtco-container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Get various information from our website!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-lab-flask"></i>
						</span>
                    <h3>Learn Statistics</h3>
                    <p>Get to know data about sea water quality trends and number of shark attack cases by location.</p>
                    <p><a href="/statistics" class="btn btn-primary btn-outline">Learn More</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-book"></i>
						</span>
                    <h3>Get Tips for Beach Dangers</h3>
                    <p>Learn what kind of dangers you and your children might meet around beaches and how to deal with
                        them.</p>
                    <p><a href="/tips" class="btn btn-primary btn-outline">Learn More</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-clock"></i>
						</span>
                    <h3>Lifeguards Timetables</h3>
                    <p>Learn which and when beaches get patrolled by
                        the Australian Lifeguard Services.</p>
                    <p><a href="/lifeguards" class="btn btn-primary btn-outline">Learn More</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div id="gtco-subscribe">
    <div class="gtco-container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Subscribe</h2>
                <p>Be the first to know about the news.</p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Your email">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label for="name" class="sr-only">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Your name">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <button type="submit" class="btn btn-info btn-block">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
-->
<div th:replace="fragments/footer :: footer">...</div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop">
        <span class="icon">
            <i class="icon-arrow-up" style="color: white"></i>
        </span>
    </a>
</div>
</body>
</html>

