<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	Greatness by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://FreeHTML5.co
-->
<html>
<head th:include="fragments/head :: headerFragment">
    <title id="pageTitle">Patrolled beaches - BeachGaze</title>
    <!-- other elements you want to reference in your layout -->
</head>
<body>

<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="row">
                <div class="col-xs-5">
                    <div class="row">
                        <div class="col-xs-1">
                            <img src="images/homeImages/guardians_logo_head.png" width="20px" height="24px"/>
                        </div>
                        <div class="col-xs-4">
                            <div id="gtco-logo">
                                <a href="/">BeachGaze</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-7 text-right menu-1">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>
                            <a href="/statistics">Statistics</a>
                        </li>
                        <li><a href="/tips">Beach Dangers</a></li>
                        <li class="active"><a href="/lifeguards">Patrolled beaches</a></li>
                        <!--
                        <li class="has-dropdown">
                            <a href="/services">Services</a>
                            <ul class="dropdown">
                                <li><a href="#">Beach List</a></li>
                                <li><a href="#">Find a hospital</a></li>
                            </ul>
                        </li>
                        -->
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
            style="background-image:url(images/homeImages/img_bg_1.jpg);">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Patrolled Beaches</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section">
        <div class="gtco-container">
            <h2>Volunteer Lifeguard Services Timetable</h2>
            <p>According to Life Saving Victoria, the largest provider of professional lifeguards in Australia -
                the Australian Lifeguard Service, their volunteer lifesavers are on duty from 12:00 - 17:00 during the
                period from the following dates.</p>
            <p><b>Note</b>: they only provide patrols on weekends and most public holidays during the period.
                If you cannot see the red and yellow flags, it indicates that the lifesavers are not on duty, then
                please do not let your children swim around. ALWAYS swim only between te red and yellow flags at a
                patrolled beach!</p>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Club/Beach</th>
                    <th>Volunteer Lifesavers Available</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Altona</td>
                    <td>11 November 2017 – 15 April 2018</td>
                </tr>
                <tr>
                    <td>Brighton</td>
                    <td>11 November 2017 – 15 April 2018</td>
                </tr>
                <tr>
                    <td>Elwood</td>
                    <td>11 November 2017 – 15 April 2018</td>
                </tr>
                <tr>
                    <td>Sandridge</td>
                    <td>11 November 2017 – 15 April 2018</td>
                </tr>
                <tr>
                    <td>South Melbourne</td>
                    <td>11 November 2017 – 15 April 2018</td>
                </tr>
                <tr>
                    <td>St Kilda</td>
                    <td>11 November 2017 – 15 April 2018</td>
                </tr>
                <tr>
                    <td>Williamstown</td>
                    <td>11 November 2017 – 15 April 2018</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">...</div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop">
        <span class="icon">
            <i class="icon-arrow-up" style="color: white"></i>
        </span>
    </a>
</div>
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="js/main.js"></script>
</body>
</html>