<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	Greatness by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://FreeHTML5.co
-->
<html>
<head th:include="fragments/head :: headerFragment">
    <title id="pageTitle">Quiz 1 - First-aid - BeachGaze</title>
    <!-- other elements you want to reference in your layout -->
</head>
<body>

<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div th:include="fragments/navbar"></div>
    </nav>
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-size: 100% 40vh">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1 id="quizID">Quiz 2</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="gtco-section">
        <div class="container">
            <a class="btn btn-danger col-md-2" href="/quizzes">< Back to List</a>
            <br/>
            <br/>
            <h2>Please choose the correct answer of the following questions:</h2>

            <p class="quiz-text-question">1. Calling 000 or getting someone else to call 000 should be the first
                step.</p>
            <fieldset id="group6">
                <div class="radio">
                    <label><input type="radio" name="group6" value="61">True</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="group6" value="62">False</label>
                </div>
            </fieldset>
            <br/>
            <p class="quiz-text-question">2. The same force for compressions should be used for babies as with children.
                When doing CPR, the same force for compressions should be used for babies as with children.
            </p>
            <fieldset id="group7">
                <div class="radio">
                    <label><input type="radio" name="group7" value="71">True</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="group7" value="72">False</label>
                </div>
            </fieldset>
            <br/>
            <p class="quiz-text-question">3. When doing CPR and breathing into the patient’s mouth, the breath should be
                slow and last for a few seconds.</p>
            <fieldset id="group8">
                <div class="radio">
                    <label><input type="radio" name="group8" value="81">True</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="group8" value="82">False</label>
                </div>
            </fieldset>
            <br/>
            <p class="quiz-text-question">4. You should continue performing CPR if the patient starts breathing and
                responds.</p>
            <fieldset id="group9">
                <div class="radio">
                    <label><input type="radio" name="group9" value="91">True</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="group9" value="92">False</label>
                </div>
            </fieldset>
            <br/>
            <p class="quiz-text-question">5. When doing CPR, chest compressions should be done in cycles of 30
                compressions.</p>
            <fieldset id="group10">
                <div class="radio">
                    <label><input type="radio" name="group10" value="101">True</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="group10" value="102">False</label>
                </div>
            </fieldset>
            <br/>
            <br/>
            <div class="row">
                <a class="btn btn-danger col-md-2" href="/quizzes">< Back to List</a>
                <span class="col-md-1"></span>
                <button type="button" id="click" class="btn btn-info col-md-2" data-toggle="modal"
                        data-target="#myModal">Submit
                </button>
                <a id="again" class="btn btn-info col-md-2" href="/quizzes/first_aid" style="display: none">Try
                    Again</a>
            </div>


            <!--Result Modal-->
            <div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static"
                 style="padding-top: 30vh">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Result</h4>
                        </div>
                        <div class="modal-body">
                            <p id="answer"></p>
                        </div>
                        <div id="footer1" class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        <div id="footer2" class="modal-footer">
                            <button id="back" type="button" class="btn btn-danger" data-dismiss="modal">< Back to List
                            </button>
                            <button id="ans" type="button" class="btn btn-success" data-dismiss="modal">View Answers
                            </button>
                            <button id="redo" type="button" class="btn btn-info" data-dismiss="modal">Try Again</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">...</div>
</div>
<div th:include="fragments/jsFooter"></div>
<script th:src="@{/js/quiz_process.js}"></script>
<div class="gototop js-top">
    <a href="#" class="js-gotop">
        <span class="icon">
            <i class="icon-arrow-up" style="color: white"></i>
        </span>
    </a>
</div>
</body>
</html>